<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <link rel="stylesheet" href="../../resources/css/admin/editar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <!-- Título del documento -->
    <title>Editar perfil</title>
</head>

<body>
    <main>
        <form class="row g-3" id="perfilForm">
            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                    <div class="row justify-content-center align-items-center h-100">
                        <div class="col-12 col-lg-9 col-xl-7">
                            <div class="card shadow-2-strong card-registration">
                                <div class="card-body p-4 p-md-5">
                                    <h3 class="text-center" id="h3">EDITAR PERFIL</h3>
                                    <div class="text-center" id="Imagen">
                                        <img src="../../resources/imgs/logo-no-background.png" alt="" width="200"
                                            height="50">
                                    </div>
                                    <div class="row g-3" id="formulario">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="nombreEmpleado" class="form-label">Nombre</label>
                                            <input id="nombreEmpleado" type="text" name="nombreEmpleado"
                                                class="form-control" required>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="apellidoEmpleado" class="form-label">Apellido</label>
                                            <input id="apellidoEmpleado" type="text" name="apellidoEmpleado"
                                                class="form-control" required>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="telefonoEmpleado" class="form-label">Teléfono</label>
                                            <input id="telefonoEmpleado" type="text" name="telefonoEmpleado"
                                                class="form-control" required>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="correoEmpleado" class="form-label">Correo
                                                electrónico</label>
                                            <input id="correoEmpleado" type="email" name="correoEmpleado"
                                                class="form-control " required>
                                        </div>

                                    </div>
                                    <div class="mt-4 pt-2 text-center">
                                        <button class="buttonG" type="submit">Guardar</button>

                                        <div class="text-center p-3">
                                            <button type="button" class="btn btn-secondary" onclick="openPassword()">
                                                <i class="bi bi-shield-lock"></i> Cambiar contraseña
                                            </button>
                                        </div>

                                        <button type="reset" class="btn btn-secondary">
                                            <li class="nav-item">
                                                <a class="nav-link" href="../admin/inicio.html" id="inicio">INICIO</a>
                                            </li>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>

        <div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <!-- Contenido del componente Modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle">Cambiar contraseña</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para actualizar contraseña -->
                    <form id="passwordForm">
                        <div class="modal-body row g-3">
                            <div class="col-sm-12 col-md-6 offset-md-3">
                                <label for="claveActual" class="form-label">Contraseña actual</label>
                                <input id="claveActual" type="password" name="claveActual" class="form-control"
                                    required>
                            </div>
                            <div class="col-12 text-center">
                                <span>CONTRASEÑA NUEVA</span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="claveNueva" class="form-label">Contraseña</label>
                                <input id="claveNueva" type="password" name="claveNueva" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                                <input id="confirmarClave" type="password" name="confirmarClave" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <!-- Inclusión de la librería de mascaras. Para más información https://github.com/text-mask/text-mask -->
    <script type="text/javascript" src="../../resources/js/vanillaTextMask.js"></script>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/perfil.js"></script>

    
</body>

</html>