<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Juan Pablo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/primeruso.css">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">

</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        </div>

        <h1>‎ ‎ </h1>
        <h3 id="mainTitle" class="text-center">
            <font color="#FFFFFF">PRIMER USO</font>
        </h3>
        <h4 class="text-center">
            <font color="#FFFFFF">PARA CONTINUAR, DEBERÁS RELLENAR LOS SIGUIENTES CAMPOS:</font>
        </h4>


        <!-- Formulario para cambiar datos personales -->

        <form class="row g-3" id="profileForm">
            
            <p>
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                <label for="nombreAdministrador" class="form-label">NOMBRE</label>
                <input id="nombreAdministrador" type="text" name="nombreAdministrador" class="form-control"
                    required>


                </p>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label for="apellidoAdministrador" class="form-label">APELLIDO</label>
                <input id="apellidoAdministrador" type="text" name="apellidoAdministrador" class="form-control"
                    required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                <label for="telefonoAdministrador" class="form-label">TELEFONO</label>
                <input id="telefonoAdministrador" type="email" name="telefonoAdministrador" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label for="duiAdministrador" class="form-label">DUI</label>
                <input id="duiAdministrador" type="text" name="duiAdministrador" class="form-control" required>
            </div>
            
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                <label for="correoAdministrador" class="form-label">CORREO ELECTRONICO</label>
                <input id="correoAdministrador" type="text" name="correoAdministrador" class="form-control"
                    required>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 ">
                <label for="contraseñaAdministrador" class="form-label">CONTRASEÑA</label>
                <input id="contraseñaAdministrador" type="text" name="contraseñaAdministrador" class="form-control"
                    required>
            </div>

       

            <div class="text-center">
                <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Guardar</button>
            </div>

        </form>

        <div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">

            </div>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/profile.js"></script>
</body>

</html>