#inicio {
    color: #A8E910;
}

#fondo {
    background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
   
}

body {
    background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
    
   
}

#buscador {
    background-color: transparent !important;
}

.container-fluid input::placeholder {
    color: white; /* Color blanco para el texto del marcador de posición */
}

.container-fluid input#buscador {
    background-color: white; /* Fondo blanco para el campo de entrada */
    color: white; /* Color de texto blanco para el texto introducido */
}
.cuadrado {
    width: 310px;
    height: 350px;
    border: 2px solid #ffffff;
    text-align: center;
    font-size: 25px;
    color: white;
    position: absolute; /* Establece la posición del cuadrado */
        top: 150px; /* Ajusta la distancia desde la parte superior */
        left: 350px; /* Ajusta la distancia desde la izquierda */
        background-color: #ffffff52; /* Color de fondo */
}

.imagen {
    width: 230px;
    height: 230px;
}