#inicio {
    color: #A8E910;
}

#fondo {
    background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
}

body {
    background-color: #081F49 !important;
    /*background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49) !important;*/
}

#buscador {
    background-color: transparent !important;
}

.container-fluid input::placeholder {
    color: white;
    /* Color blanco para el texto del marcador de posición */
}

.container-fluid input#buscador {
    background-color: white;
    /* Fondo blanco para el campo de entrada */
    color: white;
    /* Color de texto blanco para el texto introducido */
}



.tema {
    color: rgb(255, 255, 255);
    position: relative;
    top: 70px;
}

.todito{
    position: absolute;
    top: 210px;
    left: 440px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}


#card{
background-color: rgba(189, 189, 189, 0.842);
border-radius: 5px;
}

#texto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.segunda{
    position: absolute;
    top: 580px;
    left: 440px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}


#card{
background-color: rgba(189, 189, 189, 0.842);
border-radius: 5px;
}

#texto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
