#carrito {
  color: #A8E910;
}

body {
  background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
}

section {
  padding: 80px;
  overflow: hidden;
}

main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #FFFFFF;
}

#tabla {
  background-color: #0C3A6B;
  color: #FFFFFF;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}