#inicio {
    color: #A8E910;
}

#fondo {
    background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
}

body {
    background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
}
.container{
    padding: 20px;
}
#buscador {
    background-color: transparent !important;
}

.container-fluid input::placeholder {
    color: white; /* Color blanco para el texto del marcador de posición */
}

.container-fluid input#buscador {
    background-color: white; /* Fondo blanco para el campo de entrada */
    color: white; /* Color de texto blanco para el texto introducido */
}
