<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos de la página web -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <link rel="stylesheet" href="../../resources/css/public/info.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Título del documento -->
    <title>Quiénes somos</title>
</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>¿QUIÉNES SOMOS?</h2>
                </div>
                <div class="row content">
                    <div class="col-lg-6">
                        <p id="p">
                            En Soccer Live, nos apasiona el mundo del deporte y nos enorgullece ofrecer a nuestros
                            clientes una amplia gama de productos de la más alta calidad para satisfacer todas sus
                            necesidades deportivas. Desde nuestro establecimiento, nos esforzamos por ser mucho más que
                            una
                            simple tienda; somos un destino para los entusiastas del deporte, un lugar donde encontrarás
                            todo lo que necesitas para alcanzar tus metas y disfrutar al máximo de tu pasión por el
                            deporte.
                            Deportes y Más nació de la visión compartida de un grupo de entusiastas del deporte que
                            deseaban
                            crear un espacio donde la pasión por el deporte se combinara con la excelencia en productos
                            y
                            servicio al cliente. Desde nuestros humildes comienzos como una pequeña tienda local, hemos
                            crecido hasta convertirnos en un referente en la comunidad deportiva, sirviendo a clientes
                            no
                            solo en nuestra área local, sino también a través de nuestra plataforma en línea, llegando a
                            deportistas de todas partes del país. Nuestra trayectoria está marcada por una dedicación
                            inquebrantable a nuestros valores
                            fundamentales: calidad, integridad, pasión y compromiso con nuestros clientes.
                        </p>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0" id="col">
                        <ul>
                            <li id="texto"><i class="ri-check-double-line"></i>
                                <p class="fw-bold">Misión</p>
                            </li>
                            <li><i class="ri-check-double-line"></i>
                                <p>Nuestra misión es ser tu aliado en el camino hacia una
                                    vida activa y saludable, impulsando tu pasión y rendimiento deportivo. Nos
                                    comprometemos
                                    a
                                    ofrecerte productos de la más alta calidad y servicio excepcional para que puedas
                                    alcanzar
                                    tus metas deportivas y disfrutar al máximo de tu experiencia en el deporte.</p>
                            </li>
                            </li>
                        </ul>
                        <ul>
                            <li id="texto"><i class="ri-check-double-line"></i>
                                <p class="fw-bold">Visión</p>
                            </li>
                            <li><i class="ri-check-double-line"></i>
                                <p>Nuestra visión es liderar la revolución deportiva al
                                    inspirar a las personas de todas las edades y habilidades a adoptar un estilo de
                                    vida
                                    activo
                                    y saludable. Nos visualizamos como el destino definitivo para todos los entusiastas
                                    del
                                    deporte, donde puedan encontrar no solo los mejores productos y servicios, sino
                                    también
                                    la
                                    inspiración y el apoyo que necesitan para alcanzar sus metas deportivas y mejorar su
                                    calidad
                                    de vida.</p>
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Equipo</h2>
                    <p id="texto">Nuestro equipo está formado por apasionados del deporte que comparten un compromiso
                        común:
                        ayudarte a
                        alcanzar tus metas deportivas. Desde nuestros expertos en productos hasta nuestro equipo de
                        atención
                        al cliente, cada miembro de nuestro equipo está dedicado a brindarte la mejor experiencia de
                        compra
                        posible y a ayudarte a encontrar el equipo perfecto para tus necesidades.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="../../resources/imgs/g.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Guillermo Recinos</h4>
                                <span>Programador</span>
                                <p>"Con pasión, esfuerzo y compromiso, nuestro equipo puede lograrlo todo"
                                </p>
                                <div class="social">
                                    <a href="https://es-la.facebook.com/login/device-based/regular/login/?login_attempt=1"
                                        target="_blank"><i class="bi bi-facebook"></i></a>
                                    <a href="https://twitter.com/i/flow/login" target="_blank"><i
                                            class="bi bi-twitter-x"></i></a>
                                    <a href="https://www.instagram.com/accounts/login/" target="_blank"><i
                                            class="bi bi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="../../resources/imgs/j.png" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Juan Montes</h4>
                                <span>Analista en sistemas</span>
                                <p>"En cada desafío, demostramos que juntos somos invencibles"
                                </p>
                                <div class="social">
                                    <a href="https://es-la.facebook.com/login/device-based/regular/login/?login_attempt=1"
                                        target="_blank"><i class="bi bi-facebook"></i></a>
                                    <a href="https://twitter.com/i/flow/login" target="_blank"><i
                                            class="bi bi-twitter-x"></i></a>
                                    <a href="https://www.instagram.com/accounts/login/" target="_blank"><i
                                            class="bi bi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
                            <div class="member d-flex align-items-start">
                                <div class="pic "><img src="../../resources/imgs/m.png" class="img-fluid" alt=""></div>
                                <div class="member-info">
                                    <h4>Manuel Rivera</h4>
                                    <span>Admistrador de base de datos</span>
                                    <p>"Juntos alcanzamos nuevas alturas, juntos conquistamos grandes victorias"
                                    </p>
                                    <div class="social">
                                        <a href="https://es-la.facebook.com/login/device-based/regular/login/?login_attempt=1"
                                            target="_blank"><i class="bi bi-facebook"></i></a>
                                        <a href="https://twitter.com/i/flow/login" target="_blank"><i
                                                class="bi bi-twitter-x"></i></a>
                                        <a href="https://www.instagram.com/accounts/login/" target="_blank"><i
                                                class="bi bi-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Nuestas redes sociales</h2>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100" id="card">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-facebook"></i></div>
                            <h4><a href="https://es-la.facebook.com/login/device-based/regular/login/?login_attempt=1"
                                    target="_blank">Facebook</a></h4>
                            <p>Conéctate con nosotros en Facebook para estar al día con las últimas noticias,
                                promociones y
                                eventos de nuestra tienda deportiva.</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-instagram"></i></div>
                            <h4><a href="https://www.instagram.com/accounts/login/" target="_blank">Instagram</a></h4>
                            <p>Síguenos en Instagram para obtener dosis diarias de inspiración deportiva, consejos
                                útiles y
                                contenido exclusivo. ¡Únete a nuestra familia deportiva y comparte tu pasión!</p>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-tiktok"></i></div>
                            <h4><a href="https://www.tiktok.com/es/" target="_blank">Tik Tok</a></h4>
                            <p>Síguenos para ver desafíos, tutoriales de entrenamiento, momentos destacados de nuestros
                                productos y mucho más.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/info.js"></script>
</body>

</html>