body {
    background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
}



  
  
a {
    text-decoration: none;
  }
  
  .login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
  }
  
  .container {
    color: black;
  }
  
  .form-right i {
    font-size: 100px;
  }
  
  #boton {
    background-color: #0C3A6B;
    border: #0C3A6B;
    color: #FFFFFF;
  }
  
  #form1 {
    background-image: linear-gradient(to right, #126BA8, #0C3A6B);
    border-radius: 5px;
  }
  
  .cen {
    top: 100px;
    position: relative;
  }
  
  #fondo2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  #h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  #fondo2 {
    background-color: #081F49;
  }
  
  .gradient-custom {
    background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  #formulario {
    color: white;
  }
  
  .card-body {
    background-color: #0C3A6B;
    border-radius: none;
  }
  
  #Imagen {
    padding: 10px;
  }
  
  #h {
    color: black;
  }
  
  #h3 {
    color: white;
  }
  
  #formulario {
    padding: 20px;
  }
  
  #sesion{
    color: white;
  }
  
  .buttonG {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #A8E910;
    border: 2px solid #A8E910;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 1000;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .buttonG::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #A8E910;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .buttonG:hover::before {
    scale: 3;
  }
  
  .buttonG:hover {
    color: #FFF;
    scale: 1.1;
    box-shadow: 0 0px 20px #A8E910;
  }
  
  .buttonG:active {
    scale: 1;
  }
  
  .buttonM{
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #A8E910;
    border: 2px solid #A8E910;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 1000;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }

  .buttonM::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #A8E910;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .buttonM:hover::before {
    scale: 3;
  }
  
  .buttonM:hover {
    color: #FFF;
    scale: 1.1;
    box-shadow: 0 0px 20px #A8E910;
  }
  
  .buttonM:active {
    scale: 1;
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  
  .card-registration .select-arrow {
    top: 13px;
  }
  
  .iconos_blancos {
    color: white;
  }

#staticBackdrop{
    margin-top: 150PX;
}