#inicio {
    color: #A8E910;
}

#fondo {
    background-color: transparent !important;
    border-color: transparent !important;
}

body {
    background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
}

#chart1 {
    color: white;
}

#mainTitle {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}