#productos {
    color: #A8E910;
}

#fondo {
    background-color: transparent !important;
    border-color: transparent !important;
}

body {
    background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
}

#boton {
    background-color: #0C3A6B;
}

section {
    padding: 80px;
    overflow: hidden;
}

#text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFF;
}

#searchForm {
    padding-left: 215px;
}

.container-xl {
    padding: 50px;
    border-radius: 10px;
}

#tabla {
    background-color: #0C3A6B;
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#icon {
    padding: 10px;
}

#identify {
    background-color: #0C3A6B;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#modal-fondo {
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#table {
    background-color: #0C3A6B;
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#padding {
    padding: 10px;
}

#search-addon {
    background-color: #0C3A6B;
}