#productos {
    color: #A8E910;
}

body {
    background-image: linear-gradient(to right, #14A4EE, #126BA8, #0C3A6B, #081F49);
}

#boton {
    background-color: #0C3A6B;
}

section {
    padding: 80px;
    overflow: hidden;
}

#text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFF;
}

.container-xl {
    padding: 50px;
}

#tabla {
    background-color: #0C3A6B;
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#icon {
    padding: 10px;
}

#identify {
    background-color: #0C3A6B;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#modal-fondo {
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#table {
    background-color: #0C3A6B;
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#padding {
    padding: 10px;
}

#rowsFound{
    background-color: #0C3A6B;
    color: white;
}

#search-addon {
    background-color: #0C3A6B;
}

.button-agregar {
    padding: 10px;
    cursor: pointer;
    background-color: #458CC6;
    color: white;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}